{% extends "base.html" %}
{% block content %}

<div class="form-container">

    <div class="form-card">

        <h2>Add Expense</h2>

        <form method="POST" class="expense-form">

            <label>Date</label>
            <input type="date" name="date" required>

            <label>Category</label>
            <select name="category" required>
                <option value="">Select</option>
                <option>Groceries</option>
                <option>Bills</option>
                <option>Travel</option>
                <option>Food</option>
                <option>Shopping</option>
                <option>Hospital</option>
                <option>School</option>
                <option>College Fee</option>
                <option>Others</option>
            </select>

            <label>Amount (₹)</label>
            <input type="number" name="amount" step="0.01" required>

            <button type="submit" class="btn-primary">Add Expense</button>

        </form>
        {% if error %}
<p style="color:red; text-align:center; font-weight:bold;">
    {{ error }}
</p>
{% endif %}

        <a href="/dashboard" class="back-link">← Back to Dashboard</a>

    </div>

</div>

{% endblock %}
