<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>

    <!-- Flask CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="hero-section">

    <div class="profile">
        <img src="{{ url_for('static', filename='images/girl.png') }}"
            alt="Girl Avatar" 
     class="hero-img">
    </div>

    <h1 class="title">EXPENSES TRACKER</h1>

    <p class="tagline">Efficient - User-friendly - Insightful</p>

    <button onclick="goToLogin()">Get Started</button>

</div>

<!-- JS inside same file -->
<script>
function goToLogin() {
    window.location.href = "/login";
}
</script>

</body>
</html>
