{% extends "base.html" %}
{% block content %}

<div class="hero-section">

    <div class="hero-content">

        <img src="{{ url_for('static', filename='images/girl.png') }}" alt="Girl Avatar" class="hero-img">
             alt="Girl Avatar" class="hero-img">

        <h1>EXPENSES TRACKER</h1>

        <div class="hero-line">
            <span></span>
            <i class="fa-solid fa-star"></i>
            <span></span>
        </div>

        <p>Efficient - User-friendly - Insightful</p>

    </div>

</div>

{% endblock %}
